In [1]:
r = range(10)
r

range(0, 10)

In [2]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [8]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [42]:
l = [1,2,3,4,5,1]
k =10000
l.append(200)
p = len(l)
print(p)
for i in l :
    print('   ', i)
print(k)

7
    1
    2
    3
    4
    5
    1
    200
10000

In [45]:
l = [1,2,30,4,5,1, 23, 12]
for i in range(len(l)) :
        print('   ', i)

    0
    1
    2
    3
    4
    5
    6
    7

In [64]:
l = [1,2,30,4,5,17, 23, 12, 'praipta', 'mindfire']
s=10
y =20
j=1;
for i in l :
    if type(i) == str :
        print(j, '-', i, 'is a string')
    elif i > y :
        print(j, '-', i, 'is greater than ', y)
    elif i > s :
        print(j, '-', i, 'is greater than ', s)
    else :
        print(j, '-', i, 'is less than ', s)
    j+=1

1 - 1 is less than  10
2 - 2 is less than  10
3 - 30 is greater than  20
4 - 4 is less than  10
5 - 5 is less than  10
6 - 17 is greater than  10
7 - 23 is greater than  20
8 - 12 is greater than  10
9 - praipta is a string
10 - mindfire is a string

In [71]:
l = [2,3,4]
for i in l:
    print(i + 10)
else :
    print(i)
    print('List completed')

12
13
14
4
List completed

In [73]:
l = [2,3,4]
for i in l:
    print(i + 10)
    if i == 4 :
        break;
else :
    print('List completed')

12
13
14

In [82]:
name = 'pradipta'
for n in name:
    if (n == 'p') :
        continue;
    print(n)
else:
    print ("loop completed")

r
a
d
i
t
a
loop completed

In [79]:
name = 'pradipta behera'
print(len(name))
print(name[::-1])

15
areheb atpidarp

In [89]:
int(input())

122

122

In [102]:
a = int(input("insert integer only:"))
l = [1,2,6,4,5,3,65,46,88,8,90,0,4,2,2,'w',23,2]
m = []
for i in l :
    if a == i:
        m.append(i)
print(m)

insert integer only:4
[4, 4]

In [101]:
'2'==2

False

In [98]:
True == True

True